.title_list {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-image: url(./302565688_476765547827270_357296177872404435_n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.title_list {
  color: white;
}
tr {
  opacity: 0.8;
}
#btn-add {
  opacity: 0.8;
}
.navbar {
  opacity: 0.8;
}
